@charset "UTL-8";
html{
    font-size: 62.5;  /* 16px × 62.5% = 10px */
}
body{
    color: #333;
    font-family: , "ヒラギノ丸ゴproN","Helvetica"
    font-size: 1.0rem;
    line-height: 2.0rem;
    background-color: gold;
}
.site_title{
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin: 50px 0 50px 0;

}

.wrapper_input{
    display: flex;
    margin: 0 50px 50px 50px;
}
.wrapper_subject{
    margin: 0 5px ;
}
.wrapper_place{
    margin: 0 5px ;
}
.wrapper_thing{
    margin: 0 5px ;
}
.wrapper_action{
    margin: 0 5px ;
}

.wrapper_output{
    margin: 0 50px 50px 55px;
}
    /* fadein エフェクト */
    /* .fadein01{
    animation: fadeIn 3s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;}
    .fadein02{
    animation: fadeIn 10s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;}
    .fadein03{
    animation: fadeIn 20s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;}
    .fadein04{
    animation: fadeIn 30s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;}

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  } */


.sentences{
    display: flex;
    justify-content: center;
}
  .zoomin01{
    animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  } 
  .zoomin02{
    animation: zoomIn 3.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  } 
  .zoomin03{
    animation: zoomIn 6.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  } 
  .zoomin04{
    animation: zoomIn 9.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  } 
  @keyframes zoomIn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  